<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/admissionlogo.png") %>
 </div>
 <br /><br /><br /><br /><br /><br /><br /><br />

<div id="page-yield">
  <% if @config.config_value == '0' %>
    <% if @last_admitted_student.nil? %>
      <p class="flash-msg"><%= t('no_admission_notice') %></p>
    <% else %>
      <p class="flash-msg"><%= t('admission_no_of_last_stud') %> <%= @last_admitted_student.admission_no %> </p>
    <% end %>
  <% end %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@student, :url => {:action=> 'admission1'}, :html=> {:multipart=>true}) do |s| %>
    <%= error_messages_for 'student', :header_message => nil %>

    <div id="admission1_form">

      <div id="student-details">
        <b style="color: white">STUDENT DETAILS</b>
      </div>
      
      <div id="date-form">
        <table width="50%">
          <tr>
            <td>
              <%= s.text_field :surname %><br />
              Date Purchased
            </td>
          </tr>
          <tr>
            <td>
              <%= s.text_field :surname %><br />
              Form Number
            </td>
          </tr>
        </table>
      </div>
      
      <div id="upload-photo">
        <span class="span-sub-heading"><%= t('upload_photo') %></span>
        <hr class="sub-heading"></hr>
          <label for="student_image_file"><%= t('upload_photo') %> (<%= t('max_size') %>)</label><br />
          <div class="text-input-bg"><%= s.file_field :photo, :size=>10 %></div>
      </div><br />
    
      <table width="66%" cellspacing="15px">
        <tr>
          <td>
            <%= s.text_field :surname %><br />
            Surname
          </td>
        </tr>
        <tr>
          <td>
            <%= s.text_field :middle_name %><br />
            Middle Name
          </td>
          <td>
            <%= calendar_date_select_tag 'student[date_of_birth]',
          I18n.l(Date.today-5.years,:format=>:default) , :year_range => 40.years.ago..0.years.ago,:popup=>"force" %><br />
          Date Of Birth
          </td>
        </tr>
        
        <tr>
          <td>
             <%= select :student, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected=> @student.country_id || @selected_value.to_i %><br />
            Country
          </td>
          <td>
            <%= s.text_field :state %><br />
            State
          </td>
        </tr>
        
        <tr>
          <td>
             <%= select :student, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected=> @student.country_id || @selected_value.to_i %><br />
             LGA
          </td>
          <td>
            <%= s.text_field :religion %><br />
            Religion
          </td>
        </tr>
      </table>
            
      <table width="103%" cellspacing='12px'>
        
        <tr>
          <td>
             <%= s.text_field :class_last_passed %><br />
             Class Last Passed
          </td>
          <td>
            <%= s.text_field :name_of_the_class_last_attended %><br />
            Name of the School Last Attended
          </td>
        </tr>
        
        <tr>
          <td>
            <%= s.text_field :street_address_of_the_school_last_attended %><br />
            Street Address of the School Last Attended
          </td>
        </tr>
        
        <tr>
          <td>
             <%= s.text_field :city_of_the_school_last_attended %><br />
             City of the School Last Attended
          </td>
          <td>
            <%= s.text_field :state_of_the_school_last_attended %><br />
            Sate of the School Last Attended
          </td>
        </tr>
        
        <tr>
          <td>
             <%= s.text_field :reason_for_transfering  %><br />
             Reason for Transfering
          </td>
          <td>
            <%= s.text_field :day_or_boarding %><br />
            Day or Boarding
          </td>
        </tr>
        
        <tr>
          <td>
             <%= s.text_field :present_height  %><br />
             Present Height
          </td>
          <td>
            <%= s.text_field :present_weight %><br />
            Present Weight
          </td>
        </tr>
      </table>
      
      <br /><br />
      
     
    
      <div id="parents-details">
        <b style="color: white">PARENTS DETAILS</b>
      </div><br /><br /><br />

      <% fields_for :guardians do |t|%>
        <table width="103%" cellspacing='12px'>
          
          <tr>
            <td>
              <b>Father/Male Details</b>
            </td>
            <td></td>
            <td style="float:right;margin-right:46px">
                <b>Mother/Female Details</b>
              </td>
          </tr>
          
          <tr>
            <td>
              <%= t.text_field :male_guardian_surname  %>
            </td>
            <td style="margin-left:1px;">Surname</td>
            <td>
              <%= t.text_field :female_guardian_surname  %>
            </td>
          </tr>
          
          <tr>
            <td>
              <%= t.text_field :male_guardian_other_name  %>
            </td>
            <td style="margin-left:1px;">Other Names</td>
            <td>
              <%= t.text_field :female_guardian_other_name  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_title  %>
            </td>
            <td style="margin-left:1px;">Title</td>
            <td>
              <%= t.text_field :female_guardian_title  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_address  %>
            </td>
            <td style="margin-left:1px;">Home Address</td>
            <td>
              <%= t.text_field :female_guardian_address  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_city_of_residence  %>
            </td>
            <td style="margin-left:1px;">City Of Residence</td>
            <td>
              <%= t.text_field :female_guardian_city_of_residence  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_state  %>
            </td>
            <td style="margin-left:1px;">State</td>
            <td>
              <%= t.text_field :female_guardian_state  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_name_of_office  %>
            </td>
            <td style="margin-left:1px;">Name Of Office</td>
            <td>
              <%= t.text_field :female_guardian_name_of_office  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_street_address_of_office  %>
            </td>
            <td style="margin-left:1px;">Steet address of office</td>
            <td>
              <%= t.text_field :female_guardian_street_address_of_office  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_city  %>
            </td>
            <td style="margin-left:1px;">Present height</td>
            <td>
              <%= t.text_field :female_guardian_city  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_gsm_number  %>
            </td>
            <td style="margin-left:1px;">city</td>
            <td>
              <%= t.text_field :female_guardian_gsm_number  %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t.text_field :male_guardian_email  %>
            </td>
            <td style="margin-left:1px;">GSM Number</td>
            <td>
              <%= t.text_field :female_guardian_email  %>
            </td>
          </tr>
                       
        </table>
      <% end %>
          
      <% if @application_sms_enabled.is_enabled == true %>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_sms"><%= t('enable_sms_feature') %></label>
          <div class="text-input-bg"><%= s.check_box :is_sms_enabled %></div>
        </div>
      <% end %>
      <script>
        (function($){$.fn.filestyle=function(options){var settings={width:250};if(options){$.extend(settings,options);};return this.each(function(){var self=this;var wrapper=$("<div>").css({"width":settings.imagewidth+"px","height":settings.imageheight+"px","background":"url("+settings.image+") 0 0 no-repeat","background-position":"right","display":"inline","position":"absolute","overflow":"hidden"});var filename=$('<input class="file">').addClass($(self).attr("class")).css({"display":"inline","width":settings.width+"px"});$(self).before(filename);$(self).wrap(wrapper);$(self).css({"position":"relative","height":settings.imageheight+"px","width":settings.width+"px","display":"inline","cursor":"pointer","opacity":"0.0"});if($.browser.mozilla){if(/Win/.test(navigator.platform)){$(self).css("margin-left","-142px");}else{$(self).css("margin-left","-168px");};}else{$(self).css("margin-left",settings.imagewidth-settings.width+"px");};$(self).bind("change",function(){filename.val($(self).val());});});};})(jQuery);
      </script>

      <div id="for-admission-page-office-records">
          <div class="student_admission_date">
            <label for="student_admission_date"><%= t('admission_date') %> <span class="necessary-field">*</span> </label>
            <div class="text-input-bg-admission">
              <%= calendar_date_select_tag 'student[admission_date]', I18n.l(Date.today,:format=>:default),
                :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
            </div>
          </div>
          <div class="student_admission_date">
            <label for="student_admission_no"><%= t('admission_number') %> <span class="necessary-field">*</span> </label>
            <div class="text-input-bg-admission">
              <% unless @config.config_value == '0' or @last_admitted_student.nil? %>
                <%= s.text_field :admission_no , :value=> @last_admitted_student.admission_no.next%>
              <% else %>
                <%= s.text_field :admission_no %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
        <div class="extender">
        
        </div>
      </div>

    <%= submit_tag :class => "submit_button" %>
    <% end %>
  </div>
</div>